<app-header fxLayout="column"></app-header>

<div fxLayout="row" fxFlex="100">
  <app-sidebar fxLayout="column" fxFlex="300px"></app-sidebar>
  <div class="content"fxLayoutAlign="space-evenly stretch" fxLayout="column" fxFlex>
  
   <div  fxFlex='30'class="red">
        test
      </div> 
      <div  fxFlex='30'class="red">
          test1
        </div> 
        <div  fxFlex='30'class="red">
            test2
          </div> 
          </div>

  
  
  
  
    <router-outlet></router-outlet>
  </div>


<app-footer fxLayout="column"></app-footer>
